/**
 * Author：tantingting
 * Time：2018/12/10
 * Description：Description
 */
@import "../../../libs/scss/rem";

.d-footer-warp {
    background: #fff;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    height: rem(120);
    width: 100%;
    z-index: 9;
    border-top: 1px solid #e5e5e5;

    .ask {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: rem(95);
        height: 100%;
        border-right: 1px solid #e5e5e5;
        font-size: rem(26);
        color: #666;

        i {
            font-size: rem(38);
        }
    }

    .btn {
        height: rem(80);
        line-height: rem(80);
        font-size: rem(32);
        background-color: #ff7f00;
        color: #fff;
        width: rem(600);
        margin-left: rem(24);
        text-align: center;
        border-radius: rem(8);
    }
}

