@import "../../../libs/scss/rem";

.activity-item {
    width: rem(370);
    float: left;
    margin-right: rem(10);
    margin-bottom: rem(20);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
    border-radius: rem(8);
    overflow: hidden;
    background: #fff;

    .activity-img {
        width: 100%;
        height: rem(370);
        overflow: hidden;
        position: relative;

        img {
            width: rem(555);
            height: rem(370);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
        }
    }

    .info {
        padding: rem(16);

        .item-title {
            line-height: rem(36);
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            font-size: rem(24);
            color: #333;
        }

        .item-price {
            font-size: rem(20);
            color: #ff7c07;
            line-height: rem(30);

            .icon-vip {
                font-size: rem(22);
            }
        }
    }

    &:nth-of-type(2n) {
        margin-right: 0;
    }
}
