@import "../../../libs/scss/rem";

.activity-item {
    width: rem(370);
    float: left;
    margin-right: rem(10);
    margin-bottom: rem(20);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
    border-radius: rem(8);
    //overflow: hidden;
    background: #fff;

    .top {
        //height: rem(247);
        overflow: hidden;
        position: relative;
        color: #fff;

        .item-status {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            background-color: rgba(102, 102, 102, 0.6);
            width: rem(200);
            height: rem(200);
            border-radius: 50%;
            text-align: center;
            line-height: rem(200);
            font-size: rem(32);
        }

        .item-recommend {
            position: absolute;
            top: 0;
            right: rem(55);
            width: rem(54);
            height: rem(63);
            background: url(../../public/img/recommend_bg3.png) no-repeat;
            background-size: contain;
        }

        .item-time {
            position: absolute;
            z-index: 3;
            left: rem(16);
            bottom: rem(10);
            background: rgba(0, 0, 0, 0.5);
            padding: 0 rem(20);
            font-size: rem(24);
            line-height: rem(26);
            height: rem(26);
            border-radius: rem(13);
        }
    }

    .info {
        padding: rem(16);

        .item-title {
            line-height: rem(43);
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            font-size: rem(28);
            color: #333;
        }

        .item-site {
            font-size: rem(24);
            color: #999;
            line-height: rem(60);
            height: rem(60);
            display: flex;

            span {
                margin: 0 rem(6);
            }

            p {
                width: rem(160);
                line-height: rem(60);
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
            }
        }

        .item-price {
            font-size: rem(30);
            color: #ff7c07;
            line-height: rem(30);

            .icon-vip {
                font-size: rem(32);
            }

            sub {
                font-size: rem(20);
                vertical-align: inherit;
            }
        }
    }

    &:nth-of-type(2n) {
        margin-right: 0;
    }
}
