@import "../../../libs/scss/rem";

.page-warp {
    height: 100%;

    .page-main {
        height: 100%;
        display: flex;
        flex-direction: column;

        .page-contain {
            flex: 1;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
        }
    }
}
