@import "../../../libs/scss/rem";

.page-warp {
    height: 100%;

    .page-main {
        height: 100%;
        display: flex;
        flex-direction: column;

        .page-main {
            flex: 1;
        }
    }
}
