/**
 * Author：tantingting
 * Time：2018/11/1
 * Description：Description
 */
@import "../../libs/scss/rem";

@font-face {
    font-family: 'iconfont';  /* project id 899224 */
    src: url('//at.alicdn.com/t/font_899224_gjoeauaw78n.eot');
    src:
        url('//at.alicdn.com/t/font_899224_gjoeauaw78n.eot?#iefix') format('embedded-opentype'),
        url('//at.alicdn.com/t/font_899224_gjoeauaw78n.woff') format('woff'),
        url('//at.alicdn.com/t/font_899224_gjoeauaw78n.ttf') format('truetype'),
        url('//at.alicdn.com/t/font_899224_gjoeauaw78n.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: rem(24);
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
    content: '\e682';
}

.icon-nav:before {
    content: '\e60f';
}

.icon-activity:before {
    content: '\e635';
}

.icon-user:before {
    content: '\e643';
}

.icon-recruit:before {
    content: '\e67d';
}

.icon-right:before {
    content: '\e603';
}

.icon-home:before {
    content: '\e629';
}

.icon-vip:before {
    content: '\e68e';
}

.icon-site:before {
    content: '\e6e5';
}

.icon-time:before {
    content: '\e618';
}

.icon-ask:before {
    content: '\e608';
}

.icon-phone:before {
    content: '\e61c';
}

.icon-add:before {
    content: '\e659';
}

.icon-reduce:before {
    content: '\e627';
}

.icon-add2:before {
    content: '\e644';
}

.icon-del:before {
    content: '\e653';
}

.icon-wenhao:before {
    content: '\e72d';
}

.icon-down:before {
    content: '\e65e';
}

.icon-up:before {
    content: '\e64f';
}

.icon-import:before {
    content: '\e639';
}

.icon-selected:before {
    content: '\e640';
}
