/**
 * Author：tantingting
 * Time：2018/11/1
 * Description：Description
 */
@import "../../libs/scss/rem";

@font-face {
    font-family: 'iconfont';  /* project id 899224 */
    src: url('//at.alicdn.com/t/font_899224_47lx2glt6ah.eot');
    src:
        url('//at.alicdn.com/t/font_899224_47lx2glt6ah.eot?#iefix') format('embedded-opentype'),
        url('//at.alicdn.com/t/font_899224_47lx2glt6ah.woff') format('woff'),
        url('//at.alicdn.com/t/font_899224_47lx2glt6ah.ttf') format('truetype'),
        url('//at.alicdn.com/t/font_899224_47lx2glt6ah.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: rem(24);
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
    content: '\e682';
}

.icon-nav:before {
    content: '\e60f';
}

.icon-activity:before {
    content: '\e635';
}

.icon-user:before {
    content: '\e643';
}

.icon-right:before {
    content: '\e603';
}

.icon-home:before {
    content: '\e629';
}

.icon-vip:before {
    content: '\e68e';
}
