@import "../../../libs/scss/rem";

.activity-wrap {
    padding-top: rem(10);
    height: 100%;
    overflow: auto;

    .loading-more {
        display: flex;
        justify-content: center;
        padding: 20px 0;

        img {
            width: rem(35);
            height: rem(32);
        }

        span {
            color: #c6c6c6;
            font-size: rem(20);
            margin-left: rem(30);
        }
    }
}
